<%= form_with(model: mix, local: true) do |form| %>
  <% if mix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mix.errors.count, "error") %> prohibited this mix from being saved:</h2>

      <ul>
      <% mix.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :mix_name, id: :mix_name, class: 'form-control', placeholder: "Mix Name"  %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-sm btn-primary float-left' %>
  </div>
<% end %>
