<%= form_with(model: mix, local: true) do |form| %>
  <% if mix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mix.errors.count, "error") %> prohibited this mix from being saved:</h2>

      <ul>
      <% mix.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mix_name %>
    <%= form.text_field :mix_name, id: :mix_name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :mix_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
