<h1>Mixes</h1>

<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-primary">Mix name</th>
      <th class="table-dark bg-primary">Creator</th>
      <th class="table-dark bg-primary"></th>
    </tr>
  </thead>

    <tbody>
      <% current_user.mixes.each do |mix| %>
        <tr>
          <td><%= mix.mix_name %></td>
          <td><%= mix.user.full_name %></td>
          <td><%= link_to 'Listen', mix, class: 'btn btn-primary btn-sm' %></td>
        </tr>
      <% end %>
      <% current_user.friends.each do |user| %>
        <% if logged_in? && current_user.friends.include?(user) %>
          <% user.mixes.each do |mix| %>
            <tr>
              <td><%= mix.mix_name %></td>
              <td><%= mix.user.full_name %></td>
              <td><%= link_to 'Listen', mix, class: 'btn btn-primary btn-sm' %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Mix', new_mix_path, class: 'btn btn-primary btn-lg' %>
