<p id="notice"><%= notice %></p>

<p>
  <strong>Playlist name:</strong>
  <%= @playlist.playlist_name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @playlist.creator_id %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
