<p id="notice"><%= notice %></p>

<p>
  <strong>Mix name:</strong>
  <%= @mix.mix_name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @mix.user.full_name %>
</p>

<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-primary">Songs</th>
      <th class="table-dark bg-primary" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if @mix.songs.empty? %>
      <td>No songs in this mix yet.</td>
    <% else %>
      <% @mix.songs.each do |song| %>
        <tr>
          <td><%= link_to song.song_title, song %></td>
          <td><%= link_to song.song_artist, song %></td>
          <td><%= audio_tag(song.s3_path, autoplay: false, controls: true) %></td>
        </tr>
      <% end %>
  <% end %>
</table>

<%= link_to 'Back', mixes_path %>
