<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-primary">Song title</th>
      <th class="table-dark bg-primary">Song artist</th>
      <th class="table-dark bg-primary">Play Song</th>
      <th class="table-dark bg-primary">Add / Remove Song</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.songs.each do |song| %>
      <tr>
        <td><%= song.song_title %></td>
        <td><%= song.song_artist %></td>
        <td><%= audio_tag(song.s3_path, autoplay: false, controls: true) %></td>
        <td>
          <%= link_to 'Remove Song from Songs', remove_song_user_path(:id => current_user.id, :song => song, :song_id => song.id), method: :delete, class: 'btn btn-primary btn-sm'%>  
        </td>
    <% end %>
    <% current_user.friends.each do |user| %>
        <% if logged_in? && current_user.friends.include?(user) %>
          <% user.songs.each do |song| %>
            <% if !current_user.songs.include? song %>
              <tr>
                <td><%= song.song_title %></td>
                <td><%= song.song_artist %></td>
                <td><%= audio_tag(song.s3_path, autoplay: false, controls: true) %></td>
                <td>
                  <%= link_to 'Add Song to Songs', add_song_user_path(:id => current_user.id, :song => song, :song_id => song.id), method: :patch, class: 'btn btn-primary btn-sm' %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path, :class => 'btn btn-primary btn-lg' %>